.jumbotron{
    background-color:#004070;
    color:whitesmoke;
    margin-top: 56px;
}

footer{
    padding:10px 10px 0px 10px;
    background-color:#212529;
    color:whitesmoke;
    margin-bottom: 0px;
    margin-top: 500px;
    bottom:0;
    width:100%;
    align-self: flex-end;
}

.card-hotel{
    flex: 1 200px;
    padding: 2px 5px 2px 5px;
    margin-top:50px;
}

.btn_reservar{
    width: 100%;
}

p{
    margin:1px 0px 1px 0px;
}

.button_navbar{
    margin-right: 10px;
}
.footer-address-icon{
    padding-right: 10px;
}
